[submodule "Web"]
	path = Web
	url = git@github.com:jesselang/Solid-Web.git
[submodule "Audio"]
	path = Audio
	url = git@github.com:jesselang/Solid-Audio.git
[submodule "Media"]
	path = Media
	url = git@github.com:jesselang/Solid-Media.git
